.no-records {
    display: flex;
    align-items: center;
    justify-content: center;
}

.role[_ngcontent-ng-c3558584481] {
    font-weight: 800;
    color: white;
    background: rgb(41 27 108);
    display: block;
    padding: 5px 5px 5px 14px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
