<netbox-block-ui [isBlocked]="isBlocked"></netbox-block-ui>
<div class="container-fluid fluid-wrapper mt-4">
    <div class="row">
        <div class="col-lg-6">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">Advertising Material</h3>
                        </div>
                        <div class="col-4 text-right" [netBoxAuthorization]="[p.SA.all,p.Advertisement.create]">
                            <a (click)="displayAdMaterialManage()" class="btn btn-sm btn-primary">+ Advertising
                                Material</a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">File</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let medium of adMaterials">
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <div class="media-body">
                                            <video [src]="medium.fileURL" height="50" *ngIf="!medium.isImage"></video>
                                            <img [src]="medium.fileURL" [height]="50" [width]="50"
                                                *ngIf="medium.isImage">
                                        </div>
                                    </div>
                                </th>
                                <td class="j-end" [netBoxAuthorization]="[p.SA.all,p.Advertisement.delete]">
                                    <a class="btn btn-sm" (click)="deleteAdMaterial(medium)"> <i class="fa fa-trash"
                                            aria-hidden="true"></i></a>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="mx-auto">
                        <netbox-no-records [items]="adMaterials"></netbox-no-records>
                    </div>
                </div>
                <div class="card-footer py-4">
                    <mat-paginator [length]="searchModel.totalRecords" [pageSize]="searchModel.pageSize"
                        (page)="pageChanged($event)" [pageSizeOptions]="pageSizeOptions" aria-label="Select page"
                        [showFirstLastButtons]="true">
                    </mat-paginator>
                </div>
            </div>
        </div>

        <div class="col-lg-6" *ngIf="displayadMatrialCreation">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">Create Advertising Material</h3>
                        </div>
                        <div class="col-4 text-right">
                            <a (click)="create()" class="btn btn-sm btn-primary">CREATE</a>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <form>

                        <div class="form w-100 mt-3 ">
                            <label class="form__label">File<span class="danger-color">*</span></label>

                            <div class="d-flex">
                                <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
                                <div class="file-upload">
                                    <span class="file-name"> {{fileName || "No file uploaded yet."}}</span>
                                    <div class="btn-attachment">
                                        <button mat-mini-fab color="primary" class="upload-btn"
                                            (click)="fileUpload.click()">
                                            <mat-icon>attach_file</mat-icon>
                                        </button>
                                    </div>
                                </div>

                                <div>
                                    <img [src]="selectedImageUrl" [height]="100" [width]="100" *ngIf="selectedImageUrl">
                                    <video [src]="selectedVideoUrl" height="200" controls
                                        *ngIf="selectedVideoUrl"></video>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>