<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display': displayStyle}">
    <netbox-block-ui [isBlocked]="isBlocked"></netbox-block-ui>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" *ngIf="!isEdit">New User</h4>

                <h4 class="modal-title" *ngIf="isEdit">Edit User {{ userModel != undefined ? (userModel.firstName != ""
                    ||
                    userModel.lastName != "") ? ' - ' + userModel.firstName + ' ' + userModel.lastName : '' : '' }}</h4>
                <button class="btn" mat-icon-button (click)="closePopup()"><span
                        class="material-icons-round">close</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="userForm">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 mtb-16">
                            <div class="form w-100">
                                <label class="form__label">First Name<span class="danger-color">*</span></label>
                                <input class="form-control form-control-alternative" placeholder="First Name"
                                    formControlName="firstName">
                                <div class="badge badge-danger" *ngIf="validationModel.displayMessage.firstName">
                                    {{validationModel.displayMessage.firstName}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 mtb-16">
                            <div class="form w-100">
                                <label class="form__label">Last Name<span class="danger-color">*</span></label>
                                <input class="form-control form-control-alternative" placeholder="Last Name"
                                    formControlName="lastName">
                                <div class="badge badge-danger" *ngIf="validationModel.displayMessage.lastName">
                                    {{validationModel.displayMessage.lastName}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 mtb-16">
                            <div class="form w-100">
                                <label class="form__label">Email<span class="danger-color">*</span></label>
                                <input class="form-control form-control-alternative" placeholder="Email"
                                    formControlName="email">
                                <div class="badge badge-danger" *ngIf="validationModel.displayMessage.email">
                                    {{validationModel.displayMessage.email}}
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 mtb-16">
                            <div class="form w-100">
                                <label class="form__label">Display Name<span class="danger-color">*</span></label>
                                <input class="form-control form-control-alternative" placeholder="Display Name"
                                    formControlName="displayName">
                                <div class="badge badge-danger" *ngIf="validationModel.displayMessage.displayName">
                                    {{validationModel.displayMessage.displayName}}
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 mtb-16" *ngIf="!isEdit">
                            <div class="form w-100">
                                <label class="form__label">Username<span class="danger-color">*</span></label>
                                <input class="form-control form-control-alternative" placeholder="Username"
                                    formControlName="userName">
                                <div class="badge badge-danger" *ngIf="validationModel.displayMessage.userName">
                                    {{validationModel.displayMessage.userName}}
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 mtb-16">
                            <div class="inp w-2">
                                <label class="form__label">User Role</label>
                                <input type="text" matInput class="form-select form-control-alternative w-100"
                                    formControlName="role" required placeholder="Select user role"
                                    [matAutocomplete]="autoRoleName">
                                <mat-autocomplete #autoRoleName="matAutocomplete"
                                    (optionSelected)="onPermissionProcess($event)">
                                    <mat-option *ngFor="let userRole of roleFilteredOption | async"
                                        [value]="userRole.roleName">{{ userRole.roleName }}
                                    </mat-option>
                                </mat-autocomplete>
                            </div>
                            <div class="badge badge-danger" *ngIf="validationModel.displayMessage.role">
                                {{validationModel.displayMessage.role}}
                            </div>
                            <div class="form w-100 mt-2" *ngIf="userForm.get('role')?.value != '' ? true : false">
                                <a (click)="getPermissionTemplateById()"
                                    class="fw-500 fs-sm color-primary link">Customize
                                    user
                                    role permission</a>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 mtb-16">
                            <div class="form w-100">
                                <label class="form__label">NIC</label>
                                <input class="form-control form-control-alternative" placeholder="NIC Number"
                                    formControlName="nicNumber">
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 mtb-16">
                            <div class="form w-100">
                                <label class="form__label">Mobile</label>
                                <input class="form-control form-control-alternative" placeholder="Mobile Number"
                                    formControlName="mobileNumber">
                            </div>
                        </div>


                        <div class="col-lg-6 col-md-6 col-sm-12 mtb-16" *ngIf="!isEdit">
                            <div class="form w-100">
                                <div class="pass-form w-100">
                                    <label class="pass-form__label">Password<span class="danger-color">*</span></label>
                                    <div class="pass-inp">
                                        <input autocomplete="new-password" class="form-control form-control-alternative"
                                            [type]="isPasswordHide ? 'password' : 'text'" placeholder="Password"
                                            formControlName="password">
                                        <button mat-icon-button matSuffix (click)="isPasswordHide = !isPasswordHide"
                                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="isPasswordHide">
                                            <mat-icon>{{isPasswordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                        </button>
                                    </div>
                                    <div class="badge badge-danger" *ngIf="validationModel.displayMessage.password">
                                        {{validationModel.displayMessage.password}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 mtb-16" *ngIf="!isEdit">
                            <div class="form w-100">
                                <div class="pass-form w-100">
                                    <label class="pass-form__label">Confirm Password<span
                                            class="danger-color">*</span></label>
                                    <div class="pass-inp">
                                        <input class="form-control form-control-alternative"
                                            [type]="isConfirmPasswordHide ? 'password' : 'text'"
                                            placeholder="Confirm Password" formControlName="confirmPassword">
                                        <button mat-icon-button matSuffix
                                            (click)="isConfirmPasswordHide = !isConfirmPasswordHide"
                                            [attr.aria-label]="'Hide password'"
                                            [attr.aria-pressed]="isConfirmPasswordHide">
                                            <mat-icon>{{isConfirmPasswordHide ? 'visibility_off' :
                                                'visibility'}}</mat-icon>
                                        </button>
                                    </div>
                                    <div class="badge badge-danger"
                                        *ngIf="validationModel.displayMessage.confirmPassword">
                                        {{validationModel.displayMessage.confirmPassword}}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 mtb-16">
                            <div class="inp w-2">
                                <label class="form__label">Time Zone</label>
                                <input type="text" class="form-control form-control-alternative"
                                    formControlName="timeZone" [readOnly]="true">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light mr-2" (click)="resetClicked()" *ngIf="!isEdit">Reset</button>
                <button type="button" class="btn btn-primary" (click)="createUser()" *ngIf="!isEdit">
                    Save
                </button>
                <button type="button" class="btn btn-primary" (click)="updateUser()" *ngIf="isEdit">
                    Update
                </button>
            </div>
        </div>
    </div>
</div>


<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display': displayPermissionStyle}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ roleName }}</h5>
            </div>
            <div class="modal-body">
                <netbox-user-permission-view #userPermissionComponent [isView]="isView"
                    (selectedPermissionNames)="selectedPermissionNames($event)"></netbox-user-permission-view>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="resetPermission()">Reset</button>
                <button type="button" class="btn btn-primary" (click)="addUserPermission()">
                    Ok
                </button>
            </div>
        </div>
    </div>
</div>