<netbox-block-ui [isBlocked]="isBlocked"></netbox-block-ui>
<div class="container-fluid fluid-wrapper mt-4">
    <div class="row">
        <div class="col-lg-6">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">Client Types</h3>
                        </div>
                        <div class="col-4 text-right" [netBoxAuthorization]="[p.SA.all,p.Settings.ClientType.create]">
                            <a (click)="displayClientTypeManage()" class="btn btn-sm btn-primary">+ CLIENT TYPE</a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Client Type</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let type of clientTypes">
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <div class="media-body">
                                            <span class="mb-0 text-sm">{{type.clientType}}</span>
                                        </div>
                                    </div>
                                </th>
                                <td class="j-end"
                                    [netBoxAuthorization]="[p.SA.all,p.Settings.ClientType.update,p.Settings.ClientType.delete]">
                                    <a class="btn btn-sm" (click)="getTypeById(type)"
                                        [netBoxAuthorization]="[p.SA.all,p.Settings.ClientType.update]"> <i
                                            class="fas fa-edit"></i></a>
                                    <a class="btn btn-sm" (click)="deleteServiceType(type)"
                                        [netBoxAuthorization]="[p.SA.all,p.Settings.ClientType.delete]">
                                        <i class="fa fa-trash" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="mx-auto">
                        <netbox-no-records [items]="clientTypes"></netbox-no-records>
                    </div>
                </div>
                <div class="card-footer py-4">
                    <mat-paginator [length]="searchModel.totalRecords" [pageSize]="searchModel.pageSize"
                        (page)="pageChanged($event)" [pageSizeOptions]="pageSizeOptions" aria-label="Select page"
                        [showFirstLastButtons]="true">
                    </mat-paginator>
                </div>
            </div>
        </div>

        <div class="col-lg-6" *ngIf="displayClientTypeCreation">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0" *ngIf="!isEdit">Create Client Type</h3>
                            <h3 class="mb-0" *ngIf="isEdit">Update Client Type</h3>
                        </div>
                        <div class="col-4 text-right">
                            <a (click)="create()" class="btn btn-sm btn-primary" *ngIf="!isEdit">CREATE</a>
                            <a (click)="update()" class="btn btn-sm btn-primary" *ngIf="isEdit">UPDATE</a>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <form [formGroup]="clientTypeForm">
                        <div class="form w-100">
                            <label class="form__label">Client Type<span class="danger-color">*</span></label>
                            <input class="form-control form-control-alternative" placeholder="Ex : Normal"
                                formControlName="clientType" autocomplete="off">
                            <div class="badge badge-danger" *ngIf="validationModel.displayMessage.clientType">
                                {{validationModel.displayMessage.clientType}}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>