.no-records {
    padding: 50px;

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 100px;
    }

    .head-1 {
        font-size: 26px;
        font-weight: 400;
        text-align: center;
        color: #60718B;
        padding-top: 20px;
    }

    .head-2 {
        font-size: 18px;
        margin-top: 10px;
        text-align: center;
        color: #60718B;
    }
}